@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
  /* Base colors */
  --background: #142848;
  --background-light: #1e3a63;
  --background-lighter: #26487c;
  --foreground: #ffffff;

  /* Primary colors */
  --primary-1: #142848;
  --primary-2: #5aa2ce;
  --primary-3: #f7cc1c;

  /* Secondary colors */
  --secondary-1: #e67e22;
  --secondary-2: #4caf50;
  --secondary-3: #e3e6eb;
}

@theme inline {
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-background-lighter: var(--background-lighter);
  --color-foreground: var(--foreground);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);

  --color-secondary-1: var(--secondary-1);
  --color-secondary-2: var(--secondary-2);
  --color-secondary-3: var(--secondary-3);

  --font-sans: 'Raleway', sans-serif;
  --font-mono: 'Raleway', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #142848;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Raleway', sans-serif
}

/* Hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
